body
{
  padding: 5px 5px 5px 5px;
  margin: auto auto;
  font-size: 0.8em;
  font-variant: small-caps;
  font-family: Verdana,Helvetica,Arial,sans-serif;
}

#div-container
{
  width: 100%;
  min-height: 600px;
  margin: auto auto;
}

#teamFormName
{
  width: 200px;
}

#teamFormColor
{
  width: 55px;
}

.infoFooter
{
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  vertical-align: bottom;
}
