
.navigation
{
	width: 100%;
	background-color: #C6D8E5;
}

.navigation table
{
    padding: 2px 2px;
    position: relative;
    margin: auto auto;
	width: 100%;
}

.navigation table tr
{
		height: 16px;
}

.navigation table td
{
		width: 16px;
		text-align: center;
		font-size: 0.8em;
	  font-variant: small-caps;
		font-family: Verdana,Helvetica,Arial,sans-serif;
}

.navigation table td a
{
	text-decoration: none;
  color : #333333;
}

.navigation table td a:hover
{
	color : #FFA500;
	cursor : pointer;
}

.navigation table td:hover
{
		color : #FFA500;
		cursor : pointer;
}
.navigation table td div:hover
{
		color : #FFA500;
		cursor : pointer;
}

.navigation-selected
{
	border-style: dotted;
	border-radius: 6px;
	border-width: 1px;
	border-color: #555555;
}

.navigation-not-selected
{
		border-style: none;
}

.menuLogin
{
    padding: 5px 5px 15px 0px;
    position: relative;
    margin: auto auto;
    width: 80%;
		font-size: 0.8em;
}

#loginButton
{
		background-color: #C6D8E5;
		font-size: 0.8em;
	  font-variant: small-caps;
		font-family: Verdana,Helvetica,Arial,sans-serif;
		text-decoration: none;
	  color : #333333;
		padding: 5px 5px 5px 5px;
}
#loginButton:hover
{
	color : #FFA500;
	cursor : pointer;
}

.contentBody
{
    margin: auto auto;
    width: 90%;
	font-size: 0.8em;
}

.fullWidth
{
  margin: auto auto;
	width: 95%;
	height: auto;
	display:flex;
	flex-direction: column; /* row or column / row-reverseS or column-reverse */
  justify-content: space-between;
	font-size: 0.8em;
}


.messageInfo
{
	font-weight: bold;
	font: 12px sans-serif;
	text-align: center;
	color: #0000AA;
}

.messageErreur
{
	font-weight: bold;
	font: 12px sans-serif;
	text-align: center;
	color: #AA0000;
}
.infoFooter
{
	font-weight: bold;
	font-size: 10px;
	text-align: center;
}

.titre
{
	border-left: 6px solid #C6D8E5;
    color: #2E6488;
    line-height: 1.5;
    padding: 5px 5px 5px 10px;
    font-size: 1.25em;
    font-variant: small-caps;
}

.soustitre
{
	border-left: 6px solid #C6D8E5;
    color: #2E6488;
    line-height: 1.5;
    padding: 5px 5px 5px 10px;
    font-size: 1.0em;
    font-variant: small-caps;
}
.texte
{
	font-family: Verdana,Helvetica,Arial,sans-serif !important;
	margin-top: 10px;
    border: 0 none;
    font-size: 0.9em;
    margin: 0;
    vertical-align: baseline;
	text-align: justify;
    border-left: 6px solid #E3E3E3;
    padding-bottom: 10px;
    width: 100%;
}
